{% extends "maestra.html" %}
{% block titulo %}
Editar Producto
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar producto</h3>
            <form action="{{url_for('actualizar_producto')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" id="id" value="{{producto[0]}}">                
                <label for="codigo">Codigo:</label>
                <input value="{{producto[1]}}" required type="text" class="input" placeholder="Codigo" name="codigo" id="codigo">
                <label for="descripcion">Descripción:</label>
                <input value="{{producto[2]}}" required type="text" class="input" placeholder="Descripción" name="descripcion" id="descripcion">
                <label for="imagen">Imagen:</label>
                <input value="{{producto[3]}}" required type="text" class="input" placeholder="Imagen" name="imagen" id="imagen">
                <label for="categoria">Categoria:</label>
                <input value="{{producto[4]}}" required type="text" class="input" placeholder="Categoria" name="categoria" id="categoria">
                <label for="precio">Precio:</label>
                <input value="{{producto[5]}}" required type="number" class="input" placeholder="Precio" name="precio" id="precio">
                <label for="cantidad">Cantidad:</label>
                <input value="{{producto[6]}}" required type="number" class="input" placeholder="Cantidad" name="cantidad" id="cantidad">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('productos')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}